html body {
    margin: 0;
    color: #212529;
    background-color: #f2ecd8;
}
@media (min-width: 400px) { 
    .justify-content-evenly {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .logo {
        position: absolute;
        z-index: 9999;
    }
}
@media (min-width: 998px) { 
    .logo {
        position: relative;
        z-index: 9999;
        padding-top: 8vh;
    }
}